[user]
  name = Zahan Malkani
  email = zahanm@gmail.com

[core]
  editor = code --wait
  whitespace = trailing-space,cr-at-eol,tab-in-indent

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[alias]
  st = status
  co = checkout
  plus = commit -a --amend --no-edit
  cdiffed = show --pretty='format:' --name-only
  cshow = log -1 --pretty=medium
  rpull = pull --rebase
  ffpull = pull --ff-only --no-stat
  b = branch -v
  rmaster = rebase master
  up = submodule update

[push]
  default = simple

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
